h1 {
    font-family: cursive;
    color:black;
    text-align:center;
    
}

p{
    color:black;
    position:relative;
    font-size: 20px;
}

body {
    background-color:bisque;
}

#welcome{
  
    margin-left:auto;
    margin-right:auto;
    width:50%;
    height:auto;
    max-width:100%;
    display:auto;
    position:relative;
  
}


#linker{
    position:relative;
    padding-left: 50px;
    float: right;
    
}

#column1 {
    height:40%;
    position:relative;
    padding:10px;
    background-color:whitesmoke;
    float:center;
    display:center;
    color: coral;
    font-size:20px;
    text-align:center;
    
}



 nav{
        z-index:1;
        position:fixed;
        width:100%;
        padding:0px;
        text-align:center;
        float:center;
    }
a{
    padding:10px;
    background-color:darkslateblue;
    list-style-type:none;
    text-decoration:none;
    color:whitesmoke;
    margin-left:40px;
    
    
}

